body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0a0f0d;
    color: #00ff00;
    font-family: 'courier new', courier, monospace;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    gap: 1px;
    background-color: #000;
    border: 2px solid #00ff00;
}

.cell {
    width: 20px;
    height: 20px;
    background-color: #001a00;
}

.snake {
    background-color: #00ff00;
}

.food {
    background-color: #FF3131;
    border-radius: 50%;
}
